/* This file creates the SA (Structured Atom) styles.
 * The zircon sass files have not been altered.
 * All custom changes are to be done in one of the directories below.
 * 
 * Wildcarding made possible with the gem sass-globbing 
 */
/* line 1, ../sass/sa/base/_base.scss */
.container {
  width: auto;
  margin: 0 12px;
}

/* line 2, ../sass/sa/components/_header.scss */
#header .menu {
  float: right;
  background: #005599;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 20px 20px 0 0;
}
/* line 8, ../sass/sa/components/_header.scss */
#header .menu a {
  color: white;
}
/* line 10, ../sass/sa/components/_header.scss */
#header .menu a:hover {
  color: #ffaa30;
}
/* line 15, ../sass/sa/components/_header.scss */
#header .site-name {
  display: inline-block;
}
/* line 17, ../sass/sa/components/_header.scss */
#header .site-name a {
  font-size: 44px;
  font-family: 'oswaldregular';
  font-weight: 600;
  color: #30aa60;
  margin-left: 20px;
}
/* line 26, ../sass/sa/components/_header.scss */
#header #block-zircon-branding img {
  margin-left: 30px;
}

/* line 1, ../sass/sa/components/_links.scss */
a {
  color: #3366dd;
}
/* line 3, ../sass/sa/components/_links.scss */
a:hover {
  color: #9933dd;
}

/* line 2, ../sass/sa/components/_views.scss */
.view-filters .form--inline .form-item {
  margin-right: 1.5em;
}
/* line 7, ../sass/sa/components/_views.scss */
.view-filters .form-type-textfield label,
.view-filters .form-type-select label {
  display: flex;
  font-size: 120%;
  font-weight: bold;
}
/* line 12, ../sass/sa/components/_views.scss */
.view-filters .form-type-textfield select#edit-og-group-ref-target-id,
.view-filters .form-type-select select#edit-og-group-ref-target-id {
  height: 11em;
}
/* line 15, ../sass/sa/components/_views.scss */
.view-filters .form-type-textfield select::-webkit-scrollbar,
.view-filters .form-type-select select::-webkit-scrollbar {
  display: none;
}
/* line 19, ../sass/sa/components/_views.scss */
.view-filters .form-checkboxes {
  margin-top: .8em;
}
/* line 21, ../sass/sa/components/_views.scss */
.view-filters .form-checkboxes .form-type-checkbox {
  margin: 0;
}
/* line 24, ../sass/sa/components/_views.scss */
.view-filters .form-checkboxes input[type="checkbox"] {
  margin-top: 0;
}
/* line 30, ../sass/sa/components/_views.scss */
.view-filters .form-item-field-assigned-target-id input,
.view-filters .form-item-nid input {
  width: 8em;
}

/* line 37, ../sass/sa/components/_views.scss */
.view-content table td {
  padding: 0 10px;
}
/* line 39, ../sass/sa/components/_views.scss */
.view-content table td.is-active {
  background: #eaffff;
}
/* line 43, ../sass/sa/components/_views.scss */
.view-content table th {
  font-size: 120%;
  padding: 3px 10px;
}

/* line 51, ../sass/sa/components/_views.scss */
.views-tasks .form-item-field-project-target-id,
.views-tasks .form-item-field-project-assigned-id,
.views-tasks .form-item-nid {
  float: left;
}
/* line 58, ../sass/sa/components/_views.scss */
.views-tasks .task-Proposed {
  color: cyan;
}
/* line 59, ../sass/sa/components/_views.scss */
.views-tasks .task-Accepted {
  color: blue;
}
/* line 60, ../sass/sa/components/_views.scss */
.views-tasks .task-Active {
  color: blueviolet;
}
/* line 61, ../sass/sa/components/_views.scss */
.views-tasks .task-Hold {
  color: red;
}
/* line 62, ../sass/sa/components/_views.scss */
.views-tasks .task-Completed {
  color: green;
}
/* line 63, ../sass/sa/components/_views.scss */
.views-tasks .task-Postponed {
  color: orange;
}
/* line 64, ../sass/sa/components/_views.scss */
.views-tasks .task-Duplicate {
  color: grey;
}
/* line 65, ../sass/sa/components/_views.scss */
.views-tasks .task-Refused {
  color: black;
}
/* line 67, ../sass/sa/components/_views.scss */
.views-tasks .task-Critical {
  color: red;
}
/* line 68, ../sass/sa/components/_views.scss */
.views-tasks .task-Major {
  color: orange;
}
/* line 69, ../sass/sa/components/_views.scss */
.views-tasks .task-Minor {
  color: blue;
}
/* line 70, ../sass/sa/components/_views.scss */
.views-tasks .task-Normal {
  color: green;
}

/* No files to import found in sa/pages/* */

/*# sourceMappingURL=sa_styles.css.map */
