/* This file creates the SA (Structured Atom) styles.
 * The zircon sass files have not been altered.
 * All custom changes are to be done in one of the directories below.
 * 
 * Wildcarding made possible with the gem sass-globbing 
 */
/* No files to import found in sa/base/* */
/* line 2, ../sass/sa/components/_header.scss */
#header .menu {
  float: right;
  background: #005599;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 20px 20px 0 0;
}
/* line 8, ../sass/sa/components/_header.scss */
#header .menu a {
  color: white;
}
/* line 10, ../sass/sa/components/_header.scss */
#header .menu a:hover {
  color: #ffaa30;
}
/* line 15, ../sass/sa/components/_header.scss */
#header .site-name {
  display: inline-block;
}
/* line 17, ../sass/sa/components/_header.scss */
#header .site-name a {
  font-size: 44px;
  font-family: 'oswaldregular';
  font-weight: 600;
  color: #30aa60;
  margin-left: 20px;
}
/* line 26, ../sass/sa/components/_header.scss */
#header #block-zircon-branding img {
  margin-left: 30px;
}

/* line 1, ../sass/sa/components/_links.scss */
a {
  color: #3366dd;
}
/* line 3, ../sass/sa/components/_links.scss */
a:hover {
  color: #9933dd;
}

/* line 2, ../sass/sa/components/_views.scss */
.view-filters .form--inline .form-item {
  margin-right: 1.5em;
}
/* line 7, ../sass/sa/components/_views.scss */
.view-filters .form-type-textfield label,
.view-filters .form-type-select label {
  display: flex;
  font-size: 120%;
  font-weight: bold;
}
/* line 15, ../sass/sa/components/_views.scss */
.view-filters .form-checkboxes {
  margin-top: .8em;
}
/* line 17, ../sass/sa/components/_views.scss */
.view-filters .form-checkboxes .form-type-checkbox {
  margin: 0;
}
/* line 20, ../sass/sa/components/_views.scss */
.view-filters .form-checkboxes input[type="checkbox"] {
  margin-top: 0;
}
/* line 25, ../sass/sa/components/_views.scss */
.view-filters .form-item-nid input {
  width: 5em;
}

/* line 32, ../sass/sa/components/_views.scss */
.view-content table td {
  padding: 0 10px;
}
/* line 34, ../sass/sa/components/_views.scss */
.view-content table td.is-active {
  background: #f2ffff;
}
/* line 38, ../sass/sa/components/_views.scss */
.view-content table th {
  font-size: 120%;
  padding: 3px 10px;
}
/* line 45, ../sass/sa/components/_views.scss */
.view-content .task-Proposed {
  color: grey;
}
/* line 46, ../sass/sa/components/_views.scss */
.view-content .task-Accepted {
  color: blue;
}
/* line 47, ../sass/sa/components/_views.scss */
.view-content .task-In_process {
  color: purple;
}
/* line 48, ../sass/sa/components/_views.scss */
.view-content .task-Hold {
  color: red;
}
/* line 49, ../sass/sa/components/_views.scss */
.view-content .task-Completed {
  color: green;
}
/* line 50, ../sass/sa/components/_views.scss */
.view-content .task-Postponed {
  color: orange;
}
/* line 51, ../sass/sa/components/_views.scss */
.view-content .task-Refused {
  color: black;
}
/* line 53, ../sass/sa/components/_views.scss */
.view-content .task-Critical {
  color: red;
}
/* line 54, ../sass/sa/components/_views.scss */
.view-content .task-Major {
  color: orange;
}
/* line 55, ../sass/sa/components/_views.scss */
.view-content .task-Minor {
  color: blue;
}
/* line 56, ../sass/sa/components/_views.scss */
.view-content .task-Normal {
  color: green;
}

/* No files to import found in sa/pages/* */

/*# sourceMappingURL=sa_styles.css.map */
